.place {
  display: grid;
  gap: 26px 40px;
  grid-template-areas: "title website" "image paragraph" "image paragraph";
  padding-top: 80px;
}

.place:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-areas: "title" "website" "image" "paragraph" "paragraph";
    padding-top: 72px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-areas: "title" "website" "image" "paragraph" "paragraph";
    padding-top: 50px;
  }
}
