.place {
  display: grid;
  gap: 26px 40px;
  grid-template-areas: "title website" "image paragraph" "image paragraph";
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-areas: "title" "website" "image" "paragraph" "paragraph";
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-areas: "title" "website" "image" "paragraph" "paragraph";
  }
}
