.place__website_url-heading {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #AAAAAA;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .place__website_url-heading {
    line-height: 12px;
  }
}
