.lead__image {
  width: calc(100% - 296px);
  display: flex;
  justify-content: center;
  margin: 0 148px;
}

@media screen and (min-width: 1280px) {
  .lead__image{
    width: calc(100% - 296px);
    margin: 0 148px;
}
}
@media screen and (max-width: 1024px) {
  .lead__image{
    width: calc(100% - 96px);
    margin: 0 48px;
}
}
@media screen and (max-width: 768px) {
  .lead__image{
    width: 100%;
    margin: 0 auto;
}
}
@media screen and (max-width: 320px) {
  .lead__image{
    width: 100%;
    margin: 0 auto;
}
}
