.cards__image {
  max-width: 284px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .cards__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .cards__image{
    max-width: 252px;
  }
}

@media screen and (max-width: 320px) {
  .cards__image{
    max-width: 288px;
  }
}
