.cards__image {
  max-width: 284px;
  max-height: 213px;
}

@media screen and (min-width: 1280px) {
  .cards__image {
    max-width: 284px;
    max-height: 213px;
  }
}

@media screen and (max-width: 1024px) {
  .cards__image {
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width: 767px) {
  .cards__image {
    max-width: 320px;
    max-height: 264px;
    justify-self: center;
  }
}

@media screen and (max-width: 320px) {
  .cards__image {
    max-width: 288px;
    max-height: 216px;
  }
}
