.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
  margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px auto 40px;
  }
}
