.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;

}
.cover__background:before {
content: '';
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,1);
opacity: 0.3;
z-index: -1;
transition: opacity 200ms ease-in-out;
}

.cover__background:hover:before {
  opacity: 0.8;
}


@media screen and (max-width: 1280px) {
  .cover__background {
    min-height: 640px;
    min-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {

  }
}

@media screen and (max-width: 768px) {
  .cover__background {

  }
}

@media screen and (max-width: 320px) {
  .cover__background {

  }
}
