.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 92px 48px 0;
}

.cover__background:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.3;
  z-index: -1;
  transition: opacity .2s ease-in-out;
}

.cover__background:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    margin: 0;
    max-width: 1024px;
    max-height: 640px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    min-height: 200px;
  }
}
