.cover__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
  @media screen and (max-width: 320px) {
    .cover__title {
      margin: 0 auto 16px;
    }
  }
}
