.place {
  display: grid;
  gap: 48px 40px;
  grid-template-areas: "title website" "image paragraph";
  padding-top: 80px;
  margin-left: 148px;
  margin-right: 148px;
  grid-template-columns: 460px 1fr;
}

.place:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1160px) {
  .place {
    grid-template-columns: 380px 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    padding-top: 80px;
    gap: 48px 32px;
    margin-left: 48px;
    margin-right: 48px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 930px) {
  .place {
    grid-template-columns: 320px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-top: 72px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 280px 1fr;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-areas: "title" "website" "image" "paragraph";
    margin: 0 auto;
    max-width: 420px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-areas: "title" "website" "image" "paragraph";
    padding-top: 50px;
    margin-left: 0;
    margin-right: 0;
    gap: 0 0;
    max-width: 100%;
  }
}
