.footer {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .footer {
    display: grid;
    gap: 48px;
    grid-template-columns: max-content;
    margin-top: 0;
    padding: 64px 0 24px 16px;
  }
}
