.place__website {
  align-self: end;
  grid-area: website;
}

@media screen and (max-width: 650px) {
  .place__website {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 32px 16px;
  }
}
